.nv-file-over {
    border: dotted 3px red;
}

input[type=file] {
    color: transparent;
}

.square-container {
    position: relative;
    overflow: hidden;
    padding-top: 100%; 
    margin-bottom: 0.5rem;
}

.square-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.awaiting-approval {
    opacity: 0.2;
}

.img-wrapper {
    position: relative
}

.img-text {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 30%;
}